body {
  background-color: #0B2D3B;
  color: black;
}

.white {
  color: white;
}

h1 {
  font-size: 70px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 0 10px 10px 10px;
}

.blue {
  background-color: #1676A2;
}

.fizz {
  background-color: #1ED190;
}

.buzz {
  background-color: #FEC854;
}

.fizz-buzz {
  background-color: #EA2C5C;
}